ErrorDocument 403 /Erreur/Acces_interdit
ErrorDocument 404 /erreur404.php
ErrorDocument 500 /Erreur/Serveur_sature

<IfDefine Free>
php56 1
</IfDefine>
Options -Indexes

#protection du fichier de connexion
<files connexion.php>
order allow,deny
deny from all
</files>

<Files ".ht*">
Order allow,deny
Deny from all
Satisfy all
</Files>
