#conteneur{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
}

#conteneur article {
    width: 30%;
    border: 1px solid black;
    padding: 5px;
	margin: 10px;
}