<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
	<link rel="icon" href="/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:400,700&effect=outline" />
    <link rel="stylesheet" href="/CSS/commun.css" />
{% block css %}{% endblock %}
    <title>{% block balise_title %}{% endblock %}</title>
</head>

<body>

<header>
    <div id="logo">
		{% block logo %}<img src="/images/logo.png" alt="Logo seache.fr" />{% endblock %}
	</div>
    <div id="titre">
		<p class="font-effect-outline">{% block texte_header %}{% endblock %}</p>
	</div>
</header>

{% block onglets %}{% endblock %}

<main role="main">
{% block menu %}{% endblock %}

<section>
{% block contenu %}{% endblock %}
</section>
</main>

<footer>
    <p>Site optimisé pour <img src="/images/chrome.png" alt="Logo Chrome" /> et <img src="/images/firefox.png" alt="Logo Firefox" />
        - <a target="_blank" href="https://dossiers-techniques.seache.fr">Mes dossiers techniques en ligne</a>
        - dernière mise à jour du 6 juillet 2026
    </p>
</footer>

{% block scripts %}{% endblock %}

</body>
</html>