{% extends '1-base.html.twig' %}

{% block balise_title %}Foire Aux Questions SolidWorks{% endblock %}

{% block texte_header %}Foire Aux Questions SolidWorks{% endblock %}

{% block onglets %}
<nav id="onglets">
	<ul>
		<li><a href="/accueil">Accueil</a></li>
		<li><a href="/piece">Pièce</a></li>
		<li><a href="/assemblage">Assemblage</a></li>
		<li><a href="/mise-en-plan">Mise en plan</a></li>
		<li><a href="/autre">Autre</a></li>
	</ul>
</nav>
{% endblock %}

{% block menu %}
<nav id="menu">
{% include "/src/Vue/menu/" ~ onglet ~ ".html" %}
</nav>
{% endblock %}

{% block contenu %}
{% include "/src/Vue/article/" ~ onglet ~ "/" ~ fichier ~ ".html" %}
{% endblock %}

{% block liens %}
<p>Zone en construction</p>
{% endblock %}
