{% extends '1-base.html.twig' %}

{% block balise_title %}Foire Aux Questions SolidWorks{% endblock %}

{% block texte_header %}Foire Aux Questions SolidWorks{% endblock %}

{% block onglets %}
<nav>
	<ul>
		<li><a href="/accueil">Accueil</a></li>
		<li><a href="/piece">Pièce</a></li>
		<li><a href="/assemblage">Assemblage</a></li>
		<li><a href="/mise-en-plan">Mise en plan</a></li>
		<li><a href="/autre">Autre</a></li>
	</ul>
</nav>
{% endblock %}

{% block menu %}
{% include "/src/Vue/menu/" ~ onglet ~ ".html" %}
{% endblock %}

{% block contenu %}
{% include "/src/Vue/article/" ~ onglet ~ "/" ~ nom_fichier ~ ".html" %}
{% endblock %}
