{% extends '1-base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="/CSS/article.css" />
{% endblock %}

{% block balise_title %}Foire Aux Questions SolidWorks{% endblock %}

{% block texte_header %}Foire Aux Questions SolidWorks{% endblock %}

{% block onglets %}
<nav id="onglets">
	<ul>
		<li><a href="/accueil"><img src="/images/accueil.png">Accueil</a></li>
		<li><a href="/piece"><img src="/images/piece.png">Pièce</a></li>
		<li><a href="/assemblage"><img src="/images/assemblage.png">Assemblage</a></li>
		<li><a href="/mise-en-plan"><img src="/images/MEP.png">Mise en plan</a></li>
		<li><a href="/autre"><img src="/images/autre.png">Autre</a></li>
	</ul>
</nav>
{% endblock %}

{% block menu %}
<nav id="menu">
{% include "onglet/menu-" ~ onglet ~ ".html" %}
</nav>
{% endblock %}

{% block contenu %}
{% include "onglet/" ~ onglet ~ "/" ~ fichier ~ ".html" %}
{% endblock %}

{% block liens %}
<aside>
	{% if liens_connexes == [] %}
	<p>Aucun lien connexe</p>
	{% else %}
	<p>Liens connexes</p>
	<ul>
		{% for item in liens_connexes %}
		<li><a href="{{ item['url'] | raw }}">{{ item['texte'] | raw }}</a></li>
		{% endfor %}
	</ul>
	{% endif %}
</aside>
{% endblock %}

{% block scripts %}
<script src="/JS/gerer-navigation.js"></script>
{% endblock %}

