{% extends '11-article.html.twig' %}

{% block css %}
{{ parent() }}
	<link rel="stylesheet" href="/CSS/liste-articles.css" />
{% endblock %}

{% block contenu %}
<h1>Rechercher un article</h1>
<p>La recherche n'est pas encore possible mais il faudra bien que je trouve une solution. Concevoir un moteur de recherche pour le site est une gageure<br>Deux solution possibles :</p>
<ul>
	<li>interne: il me faudra un coup de main de mes IA préféres pour concevoir ce moteur de recherche</li>
	<li>externe: Google permet de faire ça</li>
</ul>

<h1>Tous les articles regroupés par onglet</h1>
<div id="conteneur">
	<article>
		<h1>Accueil</h1>
		{% include "onglet/menu-accueil.html" %}
	</article>

	<article>
		<h1>Pièce</h1>
		{% include "onglet/menu-piece.html" %}
	</article>

	<article>
		<h1>Assemblage</h1>
		{% include "onglet/menu-assemblage.html" %}
	</article>

	<article>
		<h1>Mise en plan</h1>
		{% include "onglet/menu-mise-en-plan.html" %}
	</article>

	<article>
		<h1>Autre</h1>
		{% include "onglet/menu-autre.html" %}
	</article>

</div>

{% endblock %}
