{#
	Page en construction d'un article de la FAQ
#}

{% extends '1-base.html.twig' %}

{% block balise_title %}Page en construction{% endblock %}

{% block texte_header %}Page en construction{% endblock %}

{% block contenu %}
<h1>Page en construction</h1>
<p>Il semblerait que je n'ai pas rédigé cet article de la FAQ.</p>
<p>Si le problème persiste envoyez moi un message précisant: <b>URL incriminée</b>: {{ url }}</p>
{% endblock %}
