{% extends '1-base.html.twig' %}

{% block css %}
	<link rel="stylesheet" href="/CSS/erreur.css" />
{% endblock %}

{% block balise_title %}Erreur{% if code %} {{ code }}{% endif %}{% endblock %}

{% block texte_header %}Une erreur s'est produite !{% endblock %}

{% block contenu %}
<div class="section-erreur" data-code="{{ code ?? 'Erreur' }}">
	<div class="erreur-contenu">
		<h1>{{ titre }}</h1>
		<p>{{ message }}</p>
		<a href="/">Retour à l'accueil</a>
	</div>
</div>
{% endblock %}