body {
	/* déclaration des variables */
	/* palette de couleurs Source http://www.code-couleur.com/palettes.html */
	--couleur1: #E6E2AF;
	--couleur2: #A7A37E;
	--couleur3: #EFECCA;
	--couleur4: #046380;
	--couleur5: #002F2F;
	
	--largeur_1e_colonne:200px;
	--largeur_2e_colonne:1200px;
	/* fin de déclaraion de variables */
	background-color:var(--couleur3);
	font-family: 'Quicksand', sans-serif;
}

header, section, footer, #corps { 
	width:calc(var(--largeur_1e_colonne) + var(--largeur_2e_colonne) + 8px);
	margin:auto;
}
/* l'en-tete ---------------------------------------------------------------------------------- */
header {
	margin-bottom:5px;
	background-image:linear-gradient(to right, white, var(--couleur5));
}

/* zone centrale ------------------------------------------------------------------------------- */
section {
	font-size: 20px;
	overflow: auto;
	background-color:white;
	min-height:550px;
}
section h1 {
	text-decoration: underline;
	text-align: center;
	font-size: 25px;
	margin-top: 0;
}
/* pied de page -------------------------------------------------------------------------------- */
footer {
	font-size:16px;
	text-align: center;
}

footer img {
	height:32px;
	vertical-align:middle;
}
/* logo  et titre de lapage ------------------------------------------------------------------- */
#logo, #titre {
	display:inline-block;
	vertical-align:middle;
}
#logo { width:var(--largeur_1e_colonne); }

#logo img {
	max-height: 80px;
	max-width: 170px;
	padding: 4px;
	display: block;
	margin: auto;
}

#titre { width:var(--largeur_2e_colonne); }

#titre p {
	margin:30px;
	font-weight:bold;
	font-size: 36px;
	text-align:center;
}
